@import 'setup';
@import 'footer';
@import 'hovers';

html {
  font-size: 62.5%;
  max-width: 1280px;
}

body {
  background-color: #f6f6f6;
  margin: 0 auto;
 padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

header {
  background: black;
  color: white; 
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  letter-spacing: 1px;
}

h2 {
  border-bottom: 1px solid black;
}

h4 {
  margin-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
  color: white;
}

.todolist {
  display: flex;
  margin-top: 15px;
  padding: 15px;
  justify-content: center;
}

.todolistContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 75px;
}

.pack, .visit, .buy {
  max-width: 33%;
}

.fa-li {
  left: -1.5em;
}

.todolistContent:nth-of-type(1) {
  margin: 0;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input, .add {
  width: 200px;
  margin-left: 30px;
  margin-top: 20px;
  border: none;
  background-color: #f6f6f6;
  padding: 8px;
}

input[type=text] {
  outline: none;
  border: none;
  transition: 0.2s all ease;
  border-bottom: 2px solid black;
    &:focus {
        box-shadow: 0 2px rgba(81, 203, 238, 1);
        border: 0 2px solid rgba(81, 203, 238, 1);
        border-bottom: none;
    }
}

.add {
  background-color: black;
  color: white;
    i {
      position: absolute;
      right: 25px;
    }
}

ul {
  padding: 0;
}

.fa-ul {
  margin-left: 0;
}

.fa-li:nth-last-of-type(1) {
  margin: 0;
}

li {
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  text-transform: capitalize;
    &:hover {
      color: dodgerblue;
    }
    &:nth-of-type(1) {
      margin-top: 0;
    }
}

.strikethrough {
  text-decoration: line-through;
  color: dodgerblue;
  transition: 0.2s all ease;
} 

.delete {
  width: 50px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: red;
  padding: 0;
  margin-top: 10px;
  border: none;
  cursor: pointer;
    &:hover {
      color: black;
      transition: 0.2s all ease;
    }
}

/*/----------------------- MEDIA QUERIES ----------------------------------------------- */

@media (max-width: 701px) {
  footer {
    text-align: left;
  }
}

@media (max-width: 566px) {
  header {
    width: 100%
  }

  .inputs {
    flex-direction: column;
  }

  input, .add {
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
    width: 80%;
  }

  .add i {
    right: 60px;
  }

  h2 {
    border-bottom: 1px solid black;
    margin-bottom: 0;
  }

  .todolist {
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .todolistContent {
    margin-left: 0;
  }  

  .pack, .buy, .visit {
    max-width: 100%;
  }
}

  @media (max-width: 450px) {
    footer {
      display: none;
  }

    header h4 {
      display: none;
  }
}